* {
    margin: 0;
    padding: 0;
}

/*
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/

body {
	background-image: linear-gradient(#F4D35E, #FAF0CA);
}

#homePage {
	margin: 1%;
	padding: 3%;
	background-image: linear-gradient(#F4D35E, #FAF0CA 80%);
	border: solid .1em #FFF;
}

h1, h2 {
    color: #0d3b66;
}

#pageName {
	margin-top: 10%;
	margin-bottom: -20%;
	font-size: 10em;
	font-family: 'Chivo Mono', monospace;
}

#home {
	margin-left: 25%;
}

#contact {
	margin-left: 20%;
}


blockquote {
	font-size: 5em;
    color: #000;
	position: absolute;
	margin-top: 5%;
	z-index: 1;
	font-family: 'Chivo Mono', monospace;
	display: block;
	text-align: center;
}

table {
    padding: 0;
}

header {
	padding: 200px 0px;
	background-image: linear-gradient(#0D3B66CC 30%, transparent);
	margin-bottom: 16em;
	text-align: center;
}

nav {
    background-color: #0D3B66;
	text-align: center;
	margin: 0 2%;
	padding: 200px 0px;
}

nav ul {
    padding: 3%;
}

nav li {
    display: inline-block;
	padding: 10px;
}

nav li a {
    color: #f4d35e;
    font-size: 3em;
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
}

nav li a:hover {
    color: white;
}

container {
	width: 80%;
	position: relative;
	margin: 0 auto;
}

p {
	font-family: 'Cutive Mono', monospace;
	font-size: 1.5em;
	padding: 1em;
}

#one, #three {
	text-align: right;
	padding-left: 45%;
	padding-right: 10em;
	display: block;
	background-color: #F4D35E;
}


#two {
	text-align: left;
	padding-right: 45%;
	padding-left: 10em;
	background-color: #0D3B66CC;
}

#fNav {
	margin-top: 10em;
	padding: 3em;
	font-size: 1em;
}

h5 {
	text-align: center;
}

button {
	width: 85%;
	height: 5%;
	padding: 1%;
	border-radius: 2em;
	font-size: 1.5em;
	font-family: 'Cutive Mono', monospace;
	margin-bottom: 10%;
	margin-top: 1%;
	margin-left: 7%;
	border: none;
}

#b1, #b3 {
	background-color: #0D3B66;
}

#b1 a, #b3 a {
	color: #F4D35E;
	text-decoration: none;
}

#b1:hover, #b3:hover {
	background-color: #0d3b66cc;
}

#b2 {
	background-color: #F4D35E;
}

#b2 a {
	color: #0D3B66;
	text-decoration: none;
}

#b2:hover {
	background-color: #F4D35Ecc;
}

iframe {
	margin-bottom: 10%;
}

#content4 {
	text-align: center;
}

#contactInfo {
	background-color: #0D3B66;
	color: #F4D35E;
	margin-bottom: 10%;
}

#contactInfo a {
	color: #F4D35E;
}

#contactInfo a:hover {
	color: white;
}

footer {
	margin-top: 30%;
}

#submit, #reset {
	font-size: .5em;
	background-color: #0D3B66;
	border: none;
	border-radius: 10px;
	color: #F4D35E;
	font-family: 'Rajdhani', sans-serif;
}

form {
	font-size: 2em;
	display: block;
	background-color: #0D3B66CC;
	text-align: center;
	padding: 2%;
	color: #F4D35E;
	font-family: 'Rajdhani', sans-serif;
}

input {
	padding: .5%;
}

#credit {
	text-align: center;
}